<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Files, Folders & OS (Need) Exercises</span></div>

<span style="font-weight:bolder;font-size:1.25em">Scenario

You are a member of an international team analysing environmental pollution. The project involves ten cities: Cairo, Dhaka, Jakarta, Karachi, Manila, Melbourne, Osaka, Shanghai, Singapore, and Tokyo.

Your task is to process and organise data from various environmental measurements. The provided zip file, os-collaboration-exercise-data.zip, contains all relevant data files for the past year.

**Things to note**
1. **Data Files:** Each data file is named in the format month-date_city.txt (e.g., may-10_singapore.txt).
2. **Data Collection:** Data was recorded sporadically; not all days of each month have corresponding data files. The dates of data collection vary across the cities.
3. **Exclusion of Files:** Ignore any non-text files, such as those in .pdf, .png, or .jpg formats.

In [9]:
import os
import glob
import shutil

<span style="font-weight:bolder;font-size:1.25em">Task 1

In [23]:
#  oct-08_singapore.txt to 10-08-singapore.txt

months = {
'jan': '01', 'feb': '02', 'mar': '03',
'apr': '04', 'may': '05', 'jun': '06',
'jul': '07', 'aug': '08', 'sep': '09',
'oct': '10', 'nov': '11', 'dec': '12'
}

file = 'oct-08_singapore.txt'

month, filename = file.split('-')
day, city = filename.split('_')

if month in months.keys():
    new_filename = f'{months[month]}-{day}-{city}'
    print(new_filename)
else:
    print('file not found')

10-08-singapore.txt

<span style="font-weight:bolder;font-size:1.25em">Task 2

In [21]:
months = {'jan': '01', 'feb': '02', 'mar': '03',
          'apr': '04', 'may': '05', 'jun': '06',
          'jul': '07', 'aug': '08', 'sep': '09',
          'oct': '10', 'nov': '11', 'dec': '12'
        }

def rename_my_file(old_file_name):
    file = old_file_name
    
    month, filename = file.split('-',1)

    if month in months.keys():
        day, city = filename.split('_')
        return f'{months[month]}-{day}-{city}'
    else:
        return old_file_name

In [23]:
rename_my_file('oct-08_singapore.txt')

'10-08-singapore.txt'

<span style="font-weight:bolder;font-size:1.25em">Task 3

In [22]:
problem_files = ['oct-08_singapore.txt', 'jul-10_cairo.txt', 'may-15_dhaka.txt',
                 'may-13_cairo.txt', 'oct-21_cairo.txt', 'jan-10_singapore.txt',
                 'jun-20_tokyo.txt', 'aug-06_jakarta.txt', 'dec-21_karachi.txt',
                 'jan-01_tokyo.txt']

for old_file_name in problem_files:
    new_filename = rename_my_file(old_file_name)
    print(f'{old_file_name} \t ----> \t {new_filename}')

oct-08_singapore.txt 	 ----> 	 10-08-singapore.txt
jul-10_cairo.txt 	 ----> 	 07-10-cairo.txt
may-15_dhaka.txt 	 ----> 	 05-15-dhaka.txt
may-13_cairo.txt 	 ----> 	 05-13-cairo.txt
oct-21_cairo.txt 	 ----> 	 10-21-cairo.txt
jan-10_singapore.txt 	 ----> 	 01-10-singapore.txt
jun-20_tokyo.txt 	 ----> 	 06-20-tokyo.txt
aug-06_jakarta.txt 	 ----> 	 08-06-jakarta.txt
dec-21_karachi.txt 	 ----> 	 12-21-karachi.txt
jan-01_tokyo.txt 	 ----> 	 01-01-tokyo.txt

<span style="font-weight:bolder;font-size:1.25em">Task 4

In [25]:
txt_files = glob.glob('extracted-collaboration-data/**/**.txt', recursive=True)

for file in txt_files:
    old_file_name = os.path.basename(file)
    path = os.path.dirname(file)
    new_filename = rename_my_file(old_file_name)
    new_filepath = os.path.join(path, new_filename)
    if os.path.exists(new_filepath):
        continue
    else:
        # old_filepath = os.path.join(path, old_file_name)
        os.rename(file, new_filepath)
        print(f"Renamed: {file} â†’ {new_filepath}")

<span style="font-weight:bolder;font-size:1.25em">Task 5

In [26]:
cities = ['Cairo', 'Dhaka', 'Jakarta', 'Karachi', 'Manila',
          'Melbourne', 'Osaka', 'Shanghai', 'Singapore', 'Tokyo']

for cities in cities:
    path = os.path.join('extracted-collaboration-data/os-collaboration-exercise-data/', cities)
    if os.path.exists(path):
        print(f'Folder {cities} has already been created')
    else:
        print(f'Creating {path}')
        os.mkdir(path)

Folder Cairo has already been created
Folder Dhaka has already been created
Folder Jakarta has already been created
Folder Karachi has already been created
Folder Manila has already been created
Folder Melbourne has already been created
Folder Osaka has already been created
Folder Shanghai has already been created
Folder Singapore has already been created
Folder Tokyo has already been created

<span style="font-weight:bolder;font-size:1.25em">Task 6

In [27]:
cairo_files = glob.glob(f'extracted-collaboration-data/os-collaboration-exercise-data/*cairo.*', recursive=True)

for files in cairo_files:
    filename = os.path.basename(files)
    path = os.path.join('extracted-collaboration-data', 'os-collaboration-exercise-data', 'Cairo', filename)
    if os.path.exists(path):
        continue
    else:
        shutil.copy(files, 'extracted-collaboration-data/os-collaboration-exercise-data/Cairo')

<span style="font-weight:bolder;font-size:1.25em">Task 7

In [28]:
def transfer(cities):
    city_files = glob.glob(f'extracted-collaboration-data/os-collaboration-exercise-data/*{cities}.*', recursive=True)
    for files in city_files:
        filename = os.path.basename(files)
        path = os.path.join('extracted-collaboration-data', 'os-collaboration-exercise-data', cities)
        new_path = os.path.join(path, filename)
        if os.path.exists(new_path):
            continue
        else:
            shutil.move(files, path)

In [29]:
s_cities = ['cairo', 'dhaka', 'jakarta', 'karachi', 'manila',
          'melbourne', 'osaka', 'shanghai', 'singapore', 'tokyo']

for cities in s_cities:
    transfer(cities)

<span style="font-weight:bolder;font-size:5em">Other codes.. failed ones please ignore

In [74]:
def rename_my_file(old_file_name):
    old_file_name = os.path.basename(old_file_name)
    dir_name = os.path.dirname(old_file_path)
    months = {
        'jan': '01', 'feb': '02', 'mar': '03',
        'apr': '04', 'may': '05', 'jun': '06',
        'jul': '07', 'aug': '08', 'sep': '09',
        'oct': '10', 'nov': '11', 'dec': '12'
    }
    month, day_city = old_file_name.split('-', 1)
    if month in months:
        new_file = f"{months[month]}-{day_city}"
        new_filepath = os.path.join(dir_name, new_file)
        os.rename(old_file_path, new_file_path)
        print(f"Renamed: {old_file_path} â†’ {new_file_path}")

In [53]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\junhe\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\junhe\miniconda3\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\junhe\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\junhe\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\junhe\miniconda3\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\junhe\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [58]:
import pandas as pd
df_files = pd.DataFrame(txt_files, columns=['FileName'])
df_files

                                               FileName
0     extracted-collaboration-data/txt\apr-01_melbou...
1     extracted-collaboration-data/txt\apr-01_shangh...
2     extracted-collaboration-data/txt\apr-01_singap...
3     extracted-collaboration-data/txt\apr-02_cairo.txt
4     extracted-collaboration-data/txt\apr-02_jakart...
...                                                 ...
1317  extracted-collaboration-data/txt\sep-29_dhaka.txt
1318  extracted-collaboration-data/txt\sep-29_jakart...
1319  extracted-collaboration-data/txt\sep-29_karach...
1320  extracted-collaboration-data/txt\sep-29_osaka.txt
1321  extracted-collaboration-data/txt\sep-29_singap...

[1322 rows x 1 columns]

In [60]:
months = {
'jan': '01', 'feb': '02', 'mar': '03',
'apr': '04', 'may': '05', 'jun': '06',
'jul': '07', 'aug': '08', 'sep': '09',
'oct': '10', 'nov': '11', 'dec': '12'
}

df_files['FileName'] = df_files['FileName'].replace(months, regex=True)
df_files

                                               FileName
0     extracted-collaboration-data/txt\04-01_melbour...
1     extracted-collaboration-data/txt\04-01_shangha...
2     extracted-collaboration-data/txt\04-01_singapo...
3      extracted-collaboration-data/txt\04-02_cairo.txt
4     extracted-collaboration-data/txt\04-02_jakarta...
...                                                 ...
1317   extracted-collaboration-data/txt\09-29_dhaka.txt
1318  extracted-collaboration-data/txt\09-29_jakarta...
1319  extracted-collaboration-data/txt\09-29_karachi...
1320   extracted-collaboration-data/txt\09-29_osaka.txt
1321  extracted-collaboration-data/txt\09-29_singapo...

[1322 rows x 1 columns]