<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Good) Exercises</span></div>

<span style="font-weight:bolder;font-size:1.25em">Exercise 1

In [17]:
for number in range (10):
    if number % 2 == 0:
        continue
    else:
        odd = number*number
    print(odd)

1
9
25
49
81

<span style="font-weight:bolder;font-size:1.25em">Exercise 2

In [18]:
[number*number for number in range (10) if number % 2 == 1 ]

[1, 9, 25, 49, 81]

<span style="font-weight:bolder;font-size:1.25em">Exercise 3

In [19]:
%%timeit
for number in range (10):
    if number % 2 == 0:
        continue
    else:
        odd = number*number

1.91 μs ± 149 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

In [21]:
%%timeit 
[number*number for number in range (10) if number % 2 == 1 ]

2.04 μs ± 190 ns per loop (mean ± std. dev. of 7 runs, 1,000,000 loops each)

the non-list comprehension was faster than the list comprehension

<span style="font-weight:bolder;font-size:1.25em">Exercise 4

In [23]:
number = 100
year = 0 

while number > 50:
    number *= 0.95
    year += 1

print(f"It takes {year} years for the number to drop below 50.")

It takes 14 years for the number to drop below 50.

<span style="font-weight:bolder;font-size:1.25em">Exercise 5

In [60]:
co2_data = [
    (2000, 369.55), (2001, 371.14), (2002, 373.28), 
    (2003, 375.80), (2004, 377.52), (2005, 379.80), 
    (2006, 381.90), (2007, 383.79), (2008, 385.60), 
    (2009, 387.43), (2010, 389.90), (2011, 391.65), 
    (2012, 393.85), (2013, 396.52), (2014, 398.65),
    (2015, 400.83), (2016, 404.24), (2017, 406.55), 
    (2018, 408.52), (2019, 411.44), (2020, 414.24)
]

In [70]:
for i in range(len(co2_data) - 1):  # Ensure i+1 is in range
    diff = co2_data[i+1][1] - co2_data[i][1]  # Use correct index
    print(f"CO₂ increase from {co2_data[i][0]} to {co2_data[i+1][0]}: {diff:.2f}")

CO₂ increase from 2000 to 2001: 1.59
CO₂ increase from 2001 to 2002: 2.14
CO₂ increase from 2002 to 2003: 2.52
CO₂ increase from 2003 to 2004: 1.72
CO₂ increase from 2004 to 2005: 2.28
CO₂ increase from 2005 to 2006: 2.10
CO₂ increase from 2006 to 2007: 1.89
CO₂ increase from 2007 to 2008: 1.81
CO₂ increase from 2008 to 2009: 1.83
CO₂ increase from 2009 to 2010: 2.47
CO₂ increase from 2010 to 2011: 1.75
CO₂ increase from 2011 to 2012: 2.20
CO₂ increase from 2012 to 2013: 2.67
CO₂ increase from 2013 to 2014: 2.13
CO₂ increase from 2014 to 2015: 2.18
CO₂ increase from 2015 to 2016: 3.41
CO₂ increase from 2016 to 2017: 2.31
CO₂ increase from 2017 to 2018: 1.97
CO₂ increase from 2018 to 2019: 2.92
CO₂ increase from 2019 to 2020: 2.80

In [84]:
for i in range(len(co2_data)):
    if co2_data[i][0]+1 < 2021:
        diff = co2_data[i+1][1] - co2_data[i][1]
        if diff > 3:
            print(f'CO2 increase in year {co2_data[i+1][0]} is {diff:.3f} which is more than 3ppm')
        
        # if co2_data[i][0]+1 - co2_data[i][0] == 1:
        #     diff = co2_data[i+1][1] - co2_data[i][1]
        # print(diff)

CO2 increase in year 2016 is 3.410 which is more than 3ppm