<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

In [51]:
names = ["Alex", "Ben", "Charlie", "Diana", "Emma", "Felix", "Grace", "Hannah", "Isaac", "Jack",
         "Katie", "Liam", "Mia", "Nathan", "Olivia", "Patrick", "Quinn", "Rachel", "Samuel", "Tina"]

majors = ["Biology", "Computer Science", "Mechanical Engineering", "Psychology", "Economics", "Political Science", "Mathematics",
          "History", "Business Administration", "Physics", "English Literature", "Sociology", "Chemistry", "Philosophy", 
          "Environmental Science", "Electrical Engineering", "Finance", "Art History", "Journalism", "Anthropology"]

years = ["1st Year", "2nd Year", "3rd Year", "4th Year", "1st Year", "2nd Year", "3rd Year", "4th Year", "1st Year", "2nd Year",
         "3rd Year", "4th Year", "1st Year", "2nd Year", "3rd Year", "4th Year", "1st Year", "2nd Year", "3rd Year", "4th Year"]

In [23]:
names_upper = list()     # Creating an empty list

for name in names:
    names_upper.append(name.upper())

In [26]:
major = ["Chem", "Pharmacy", "Pharmacy", "Life Sciences", "Pharmacy",
         "Pharmacy", "Life Science", "Life Science", "Pharmacy",
         "Pharmacy", "Business and Psychology", "Biz Real Estate"]

major_cleaned = []
for major in major:
    if major == "Chem":
        major_cleaned.append('Chemistry')
    elif major == 'Life Science':
        major_cleaned.append('Life Sciences')
    elif major == 'Biz Real Estate':
        major_cleaned.append('Business Real Estate')
    else:
        major_cleaned.append(major)      

major_cleaned

['Chemistry',
 'Pharmacy',
 'Pharmacy',
 'Life Sciences',
 'Pharmacy',
 'Pharmacy',
 'Life Sciences',
 'Life Sciences',
 'Pharmacy',
 'Pharmacy',
 'Business and Psychology',
 'Business Real Estate']

'Biz Real Estate'

In [111]:
index=1

print(names[index])

Ben

In [112]:
# As

index=0
print(f'Name:{names[index]:<20}, Major:{majors[index]:<30},Year:{years[index]:<10}')

Name:Alex                , Major:Biology                       ,Year:1st Year

In [113]:
index=0
print(f'Name:{names[index]:<20}, Major:{majors[index]:<30},Year:{years[index]:<10}')
index=1
print(f'Name:{names[index]:<20}, Major:{majors[index]:<30},Year:{years[index]:<10}')
index=2
print(f'Name:{names[index]:<20}, Major:{majors[index]:<30},Year:{years[index]:<10}')

Name:Alex                , Major:Biology                       ,Year:1st Year
Name:Ben                 , Major:Computer Science              ,Year:2nd Year
Name:Charlie             , Major:Mechanical Engineering        ,Year:3rd Year

In [52]:
index = 0
for name in zip(names, majors, years):
    print(f'Name:{name[index]:<30}, Major:{major[index]:<30},Year:{year[index]:<10}')

# Only the names will run the others will not run

NameError: name 'year' is not defined

In [5]:
list(zip(names, majors, years))

[('Alex', 'Biology', '1st Year'),
 ('Ben', 'Computer Science', '2nd Year'),
 ('Charlie', 'Mechanical Engineering', '3rd Year'),
 ('Diana', 'Psychology', '4th Year'),
 ('Emma', 'Economics', '1st Year'),
 ('Felix', 'Political Science', '2nd Year'),
 ('Grace', 'Mathematics', '3rd Year'),
 ('Hannah', 'History', '4th Year'),
 ('Isaac', 'Business Administration', '1st Year'),
 ('Jack', 'Physics', '2nd Year'),
 ('Katie', 'English Literature', '3rd Year'),
 ('Liam', 'Sociology', '4th Year'),
 ('Mia', 'Chemistry', '1st Year'),
 ('Nathan', 'Philosophy', '2nd Year'),
 ('Olivia', 'Environmental Science', '3rd Year'),
 ('Patrick', 'Electrical Engineering', '4th Year'),
 ('Quinn', 'Finance', '1st Year'),
 ('Rachel', 'Art History', '2nd Year'),
 ('Samuel', 'Journalism', '3rd Year'),
 ('Tina', 'Anthropology', '4th Year')]

In [53]:
# index=0
for name in zip(names, majors, years):                                                     # zip() groups corresponding index in each list as 1 element
    # print(f'Name:{names[index]:<30}, Major:{majors[index]:<30},Year:{years[index]:<10}')
    print(f'Name:{name[0]:<10}, Major:{name[1]:<30},Year:{name[2]:<10}')

Name:Alex      , Major:Biology                       ,Year:1st Year
Name:Ben       , Major:Computer Science              ,Year:2nd Year
Name:Charlie   , Major:Mechanical Engineering        ,Year:3rd Year
Name:Diana     , Major:Psychology                    ,Year:4th Year
Name:Emma      , Major:Economics                     ,Year:1st Year
Name:Felix     , Major:Political Science             ,Year:2nd Year
Name:Grace     , Major:Mathematics                   ,Year:3rd Year
Name:Hannah    , Major:History                       ,Year:4th Year
Name:Isaac     , Major:Business Administration       ,Year:1st Year
Name:Jack      , Major:Physics                       ,Year:2nd Year
Name:Katie     , Major:English Literature            ,Year:3rd Year
Name:Liam      , Major:Sociology                     ,Year:4th Year
Name:Mia       , Major:Chemistry                     ,Year:1st Year
Name:Nathan    , Major:Philosophy                    ,Year:2nd Year
Name:Olivia    , Major:Environmental Science         ,Year:3rd Year
Name:Patrick   , Major:Electrical Engineering        ,Year:4th Year
Name:Quinn     , Major:Finance                       ,Year:1st Year
Name:Rachel    , Major:Art History                   ,Year:2nd Year
Name:Samuel    , Major:Journalism                    ,Year:3rd Year
Name:Tina      , Major:Anthropology                  ,Year:4th Year

In [50]:
name

'Stephen Strange'

In [9]:
x = 10
print('value of x =' + str(x))
print(f'Value of {x=}')

value of x =10
Value of x=10

In [87]:
# print all the '4th year students'

for index, name in enumerate(names):          # numbering the names starting with 0
    year = years[index]                       # assigning the year as 
    if year == '4th Year':
        print(f'{index+1:<2}. Name:{name:<20}, Major:{majors[index]:<30},Year:{year:<10}')

4 . Name:Diana               , Major:Psychology                    ,Year:4th Year
8 . Name:Hannah              , Major:History                       ,Year:4th Year
12. Name:Liam                , Major:Sociology                     ,Year:4th Year
16. Name:Patrick             , Major:Electrical Engineering        ,Year:4th Year
20. Name:Tina                , Major:Anthropology                  ,Year:4th Year

In [86]:
# If the hit is not what is the condition, list it as 'Not a fourth year'

for index, name in enumerate(names):          # numbering the names starting with 0
    year = years[index]                       # assigning the year as 
    if year == '4th Year':
        print(f'{index+1:<2}. Name:{name:<20}, Major:{majors[index]:<30},Year:{year:<10}')      
    else:
        print(f'{index+1:<2}. Not a fourth year')

1 . Not a fourth year
2 . Not a fourth year
3 . Not a fourth year
4 . Name:Diana               , Major:Psychology                    ,Year:4th Year
5 . Not a fourth year
6 . Not a fourth year
7 . Not a fourth year
8 . Name:Hannah              , Major:History                       ,Year:4th Year
9 . Not a fourth year
10. Not a fourth year
11. Not a fourth year
12. Name:Liam                , Major:Sociology                     ,Year:4th Year
13. Not a fourth year
14. Not a fourth year
15. Not a fourth year
16. Name:Patrick             , Major:Electrical Engineering        ,Year:4th Year
17. Not a fourth year
18. Not a fourth year
19. Not a fourth year
20. Name:Tina                , Major:Anthropology                  ,Year:4th Year

In [68]:
# `continue` means to skip to the next line, since it is before print(), it will skip the print line

for index, name in enumerate(names):          # numbering the names starting with 0
    year = years[index]                       # assigning the year as 
    if year == '4th Year':
        print(f'{index+1}. Name:{name:<30}, Major:{majors[index]:<30},Year:{year:<10}')      
    else:
        continue                            # continue means to continue to next line
        print('Not a first year')

4. Name:Diana                         , Major:Psychology                    ,Year:4th Year
8. Name:Hannah                        , Major:History                       ,Year:4th Year
12. Name:Liam                          , Major:Sociology                     ,Year:4th Year
16. Name:Patrick                       , Major:Electrical Engineering        ,Year:4th Year
20. Name:Tina                          , Major:Anthropology                  ,Year:4th Year

In [85]:
# `break` stops the code when the first hit is reached

for index, name in enumerate(names):
    year = years[index]
    if year == '4th Year':
        print(f'{index+1}: Name:{name:<30}, Major:{majors[index]:<30},Year:{year:<10}')
        break                               # stop the code once it hits the first
    else:
        continue                            # continue means to continue to next line
        print('Not a first year')

4: Name:Diana                         , Major:Psychology                    ,Year:4th Year

In [91]:
# print out the "first year" details

for index, name in enumerate(names):
    year = years[index]
    if year == '1st Year':
        print(f'{index+1}: Name:{name:<30}, Major:{majors[index]:<30},Year:{year:<10}')

1: Name:Alex                          , Major:Biology                       ,Year:1st Year
5: Name:Emma                          , Major:Economics                     ,Year:1st Year
9: Name:Isaac                         , Major:Business Administration       ,Year:1st Year
13: Name:Mia                           , Major:Chemistry                     ,Year:1st Year
17: Name:Quinn                         , Major:Finance                       ,Year:1st Year

In [94]:
# different way to print out the "first year" details

for index, name in enumerate(names):
    if years[index] == '1st Year':
        print(f'{index+1}: Name:{name:<30}, Major:{majors[index]:<30},Year:{years[index]:<10}')

1: Name:Alex                          , Major:Biology                       ,Year:1st Year
5: Name:Emma                          , Major:Economics                     ,Year:1st Year
9: Name:Isaac                         , Major:Business Administration       ,Year:1st Year
13: Name:Mia                           , Major:Chemistry                     ,Year:1st Year
17: Name:Quinn                         , Major:Finance                       ,Year:1st Year

In [89]:
x=10

while x >= 0:
    print(x)
    x-= 1

10
9
8
7
6
5
4
3
2
1
0

# Notes infromation

In [34]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

In [35]:
for name in real_names:                              # goes through the list of real-names and name each element 'name'
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [37]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

In [40]:
for count, name in enumerate(real_names):                 # enumerate() assign each element a number (0: element), Store as 0={count}, element={name}
    print(f'{count}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!

In [41]:
# use the count given by enumerate() to index the other list

for index, name in enumerate(real_names):             # Storing the number given by enumerate() as {index}
    superhero_name = super_names[index]               # superhero_name is extracted as the element in {super_names} belonging to the specific [index]
    print(f'{name} is {superhero_name}!')

Natasha Romanoff is Black Widow!
Tony Stark is Iron Man!
Stephen Strange is Doctor Strange!

In [46]:
for count, name in enumerate(real_names, 100):               # starting the count at 100
    print(f'{count}: {name} is a Marvel superhero!')

100: Natasha Romanoff is a Marvel superhero!
101: Tony Stark is a Marvel superhero!
102: Stephen Strange is a Marvel superhero!

In [48]:
?enumerate

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

## 1.1 for with a list

## 1.2 for with enumerate

## 1.3 for with range

# 2 while